<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Utilities" description="Habitat Utilities">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\Utilities\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="SpitfireUtilitiesRenderings" database="master" path="/sitecore/layout/renderings/Spitfire/Domain/Utilities"/>
            <include name="SpitfireUtilitiesCampaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Spitfire/Domain/Utilities"/>
            <include name="SpitfireUtilitiesTemplates" database="master" path="/sitecore/templates/Spitfire/Domain/Utilities"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
