@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<style>
    #DIV_1 {
        box-sizing: border-box;
        height: 500px;
        position: relative;
        width: 1100px;
        perspective-origin: 550px 250px;
        transform-origin: 550px 250px;
        font: normal normal normal normal 16px / 16px 'Open Sans', Arial, Helvetica, sans-serif;
    }
    /*#DIV_1*/

    #A_2 {
        box-sizing: border-box;
        position: relative;
        font: normal normal normal normal 16px / 16px 'Open Sans', Arial, Helvetica, sans-serif;
    }
    /*#A_2*/

    #IMG_3 {
        box-sizing: border-box;
        color: rgb(0, 0, 238);
        height: 498.281px;
        position: relative;
        width: 1100px;
        column-rule-color: rgb(0, 0, 238);
        perspective-origin: 550px 249.141px;
        transform-origin: 550px 249.141px;
        border: 0px none rgb(0, 0, 238);
        font: normal normal normal normal 16px / 16px 'Open Sans', Arial, Helvetica, sans-serif;
        outline: rgb(0, 0, 238) none 0px;
    }
    /*#IMG_3*/
</style>
<div id="DIV_1">
    <a href="/compare-credit-cards/purchase-credit-cards/mbna-all-round/?MC=UCMCEV007A1" id="A_2"><img alt="" src="https://www.mbna.co.uk/uploads/content/homepage-tab_allround_v3.jpg" id="IMG_3" /></a>
</div>