<div class="c-content-box c-size-md">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                @Html.Sitecore().Placeholder("news-body")              
            </div>
            <div class="col-md-3">
                @Html.Sitecore().Placeholder("news-sidebar")
            </div>
        </div>
    </div>
</div>