<div class="c-content-ver-nav">
    <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
        <h3 class="c-font-bold c-font-uppercase">Categories</h3>
        <div class="c-line-left c-theme-bg"></div>
    </div>
    <ul class="c-menu c-arrow-dot1 c-theme">
        <li>
            <a href="#">Web Development(2)</a>
        </li>
        <li>
            <a href="#">UX Design(12)</a>
        </li>
        <li>
            <a href="#">Mobile Development(5)</a>
        </li>
        <li>
            <a href="#">Internet Marketing(7)</a>
        </li>
        <li>
            <a href="#">Social Networks(11)</a>
        </li>
        <li>
            <a href="#">Web Design(18)</a>
        </li>
    </ul>
</div>