<form action="#" method="post">
    <div class="input-group">
        <input type="text" class="form-control c-square c-theme-border" placeholder="Search blog...">
        <span class="input-group-btn">
            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>
        </span>
    </div>
</form>