<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Banking" description="Habitat Banking">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\Banking\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="SpitfireBankingRenderings" database="master" path="/sitecore/layout/renderings/Spitfire/Domain/Banking"/>
            <include name="SpitfireBankingCampaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Spitfire/Domain/Banking"/>
            <include name="SpitfireBankingTemplates" database="master" path="/sitecore/templates/Spitfire/Domain/Banking"/>            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
