<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>jango</site>
            <site>insurance</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>jango</site>
            <site>insurance</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="jango"  hostName="habitat.jango" patch:before="site[@name='website']" database="master" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/jango" startItem="/Home" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
      <site name="insurance" hostName="avanade.insurance" patch:before="site[@name='jango']" database="master" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/insurance" startItem="/Home" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
      <site name="utilities" hostName="avanade.utilities" patch:before="site[@name='jango']" database="master" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/utilities" startItem="/Home" dictionaryPath="/sitecore/content/Shared/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}" />
    </sites>
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
        <website>
          <patch:delete/>
        </website>
      </sites>
    </cacheSizes>
    <linkManager>
      <patch:attribute name="defaultProvider">custom</patch:attribute>
      <providers>
        <clear />
        <add name="custom"
            type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
            addAspxExtension="false"
            alwaysIncludeServerUrl="false"
            encodeNames="true"
            languageEmbedding="never"
            languageLocation="filePath"
            shortenUrls="true"
            useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>