<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.ParallelIndexing.Enabled" value="true" />
    </settings>
    <solutionFramework>
      <indexing defaultProvider="fallback">
        <providers>
          <add name="fallback" type="Habitat.Framework.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Habitat.Framework.Indexing" />
        </providers>
      </indexing>
    </solutionFramework>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="has_presentation" storageType="no" indexType="untokenized">Habitat.Framework.Indexing.Infrastructure.Fields.HasPresentationComputedField, Habitat.Framework.Indexing</field>
              <field fieldName="all_templates" storageType="no" indexType="untokenized">Habitat.Framework.Indexing.Infrastructure.Fields.AllTemplatesComputedField, Habitat.Framework.Indexing</field>
              <field fieldName="has_search_result_formatter" storageType="no" indexType="untokenized">Habitat.Framework.Indexing.Infrastructure.Fields.HasSearchResultFormatterComputedField, Habitat.Framework.Indexing</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>