@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Teasers
@model Habitat.Teasers.Models.Jango.TeaserModel
<div class="c-card">
    <i class="icon-trophy c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
    <div class="c-content c-content-left">
        <h3 class="c-theme-font c-font-uppercase c-font-bold">@Html.Sitecore().Field("Title", @Model.Item)</h3>
        <p>@Html.Sitecore().Field("Description", @Model.Item)</p>
    </div>
</div>