@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Teasers
@model Habitat.Teasers.Models.Jango.TeaserModel
@{ if (Sitecore.Context.PageMode.IsPageEditor && Model.ImageUrl == null)
    {
        @Html.Sitecore().Field("Image", @Model.Item, new { @class = "img-responsive" })
    }
}  
<div class="c-content-media-3 c-bg-img-center" style="background-image: url('@Model.ImageUrl'); min-height: 360px;">
    @Html.Sitecore().Field("Link", new { @class = "btn btn-sm c-theme-btn c-font-uppercase c-font-bold" })
    <div class="c-panel">
        <div class="c-fav">
            <i class="icon-heart c-font-thin"></i>
            <p class="c-font-thin">16</p>
        </div>
    </div>
</div>