@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Accounts
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<li>
    <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
        <i class="icon-user"></i> Sign In
    </a>
</li>