@using System.Web.Mvc.Html
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="c-container">
    <div class="row">
        <div class="col-md-12">
            <div class="c-content-tab-2 c-theme c-opt-1">
                <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                    <li class="active">
                        <a href="#c-tab2-opt1-6" data-toggle="tab" aria-expanded="true">
                            <i class="fa fa-arrow-circle-o-right"></i>
                            <span class="c-title">Start a Quote</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                    <li class="">
                        <a href="#c-tab2-opt1-1" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            <span class="c-title">Your Details</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                    <li class="">
                        <a href="#c-tab2-opt1-2" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-car"></i>
                            <span class="c-title">Your Vehicle</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                    <li class="">
                        <a href="#c-tab2-opt1-3" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-users"></i>
                            <span class="c-title">Drivers</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                    <li class="">
                        <a href="#c-tab2-opt1-4" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="c-title">Final Details</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                    <li class="">
                        <a href="#c-tab2-opt1-5" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-file-text-o"></i>
                            <span class="c-title">Your Quote</span>
                        </a>
                        <div class="c-arrow"></div>
                    </li>
                </ul>
                <div class="c-tab-content" style="width:100%; background: url(http://www.encyclauto.com/Media/Img/Blog/97/cc11930daa62c9e3efb331b243670be6.jpeg) no-repeat fixed; background-size:100% 100%;">
                    <div class="container">
                        <div class="tab-content" style="padding: 0px;overflow: inherit;">
                            <div class="tab-pane fade active in" id="c-tab2-opt1-6">
                                @Html.Sitecore().DynamicPlaceholder("QuoteMainTab")
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-1" style="background: url(assets/base/media/video/porscheblur.jpg) no-repeat fixed; background-size:100% 100%; margin-top:20px;">
                                <div class="c-tab-pane">
                                    <div class="c-content-panel">
                                        <div class="c-body">
                                            <form class="form-horizontal">
                                                <div class="form-group form-c-radios">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Title</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-112" class="c-radio" name="radios2">
                                                                    <label for="radio4-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Mr
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-112" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Mrs
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio6-112" class="c-radio" name="radios2">
                                                                    <label for="radio6-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Miss
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio7-112" class="c-radio" name="radios2">
                                                                    <label for="radio7-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Ms
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio8-112" class="c-radio" name="radios2">
                                                                    <label for="radio8-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Dr
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputForename3-55" class="col-md-4 control-label c-font-bold c-theme-font">Forename</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputForename3-55" placeholder="Forename">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputSurname3-55" class="col-md-4 control-label c-font-bold c-theme-font">Surname</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputSurname3-55" placeholder="Surname">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputDob1-55" class="col-md-4 control-label c-font-bold c-theme-font">Date of birth</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob1-55" placeholder="DD">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob2-55" placeholder="MM">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob3-55" placeholder="YYYY">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Postcode field -->
                                                            <label for="opc_input" class="col-md-4 control-label c-font-bold c-theme-font">Lookup Address</label>
                                                            <div class="col-md-6">
                                                                <div id="postcode_lookup"></div>
                                                            </div>
                                                        </div>
                                                        <!-- Add to your existing form -->
                                                        <div id="languagelookup" class="hide">
                                                            <div class="form-group">
                                                                <label for="line1" class="col-md-4 control-label c-font-bold c-theme-font">First Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line1" placeholder="Address Line 1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="line2" class="col-md-4 control-label c-font-bold c-theme-font">Second Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line2" placeholder="Address Line 2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="line3" class="col-md-4 control-label c-font-bold c-theme-font">Third Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line3" placeholder="Address Line 3">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="town" class="col-md-4 control-label c-font-bold c-theme-font">Town</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="town" placeholder="Town">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="county" class="col-md-4 control-label c-font-bold c-theme-font">County</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="county" placeholder="County">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="postcode" class="col-md-4 control-label c-font-bold c-theme-font">Postcode</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="postcode" placeholder="Postcode">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Marital status</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="1">Please select...</option>
                                                                    <option value="2">Single</option>
                                                                    <option value="3">Married</option>
                                                                    <option value="4">Common Law</option>
                                                                    <option value="5">Divorced</option>
                                                                    <option value="5">Widowed</option>
                                                                    <option value="5">Civil Partner</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputEmail3-55" class="col-md-4 control-label c-font-bold c-theme-font">Email</label>
                                                            <div class="col-md-6">
                                                                <input type="email" class="form-control  c-square c-border-2px c-theme" id="inputEmail3-55" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputTelephone3-55" class="col-md-4 control-label c-font-bold c-theme-font">Telephone</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputTelephone3-55" placeholder="Telephone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">How many cars at this address</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-12" class="c-radio" name="radios2">
                                                                    <label for="radio4-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 1
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-12" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 2
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio6-12" class="c-radio" name="radios2">
                                                                    <label for="radio6-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 3
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio7-12" class="c-radio" name="radios2">
                                                                    <label for="radio7-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 4
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio8-12" class="c-radio" name="radios2">
                                                                    <label for="radio8-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 5+
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Employment type</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="1">Please select...</option>
                                                                    <option value="2">Employed</option>
                                                                    <option value="3">Self-employed</option>
                                                                    <option value="4">Retired</option>
                                                                    <option value="5">Not Employed due to disability</option>
                                                                    <option value="6">Household duties</option>
                                                                    <option value="7">Full/Part time education</option>
                                                                    <option value="8">Voluntary Worker</option>
                                                                    <option value="9">Unemployed</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group c-margin-t-40">
                                                    <div class="col-sm-offset-4 col-md-8">
                                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                        <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-2" style="background: url(assets/base/media/video/porscheblur.jpg) no-repeat fixed; background-size:100% 100%; margin-top:20px;">
                                <div class="c-tab-pane">
                                    <div class="c-content-panel">
                                        <div class="c-body">
                                            <form class="form-horizontal">
                                                <div class="form-group form-c-radios">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputReg-45" class="col-md-4 control-label c-font-bold c-theme-font">Registration Number</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputReg-45" placeholder="Registration">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Value</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="">Please select...</option>
                                                                    <option value="1">Under #163;5,000</option>
                                                                    <option value="5001">#163;5,000 to #163;14,999</option>
                                                                    <option value="15001">#163;15,000 to #163;24,999</option>
                                                                    <option value="25001">#163;25,000 to #163;34,999</option>
                                                                    <option value="4">#163;35,000 and over</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Is the vehicle modified</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-112" class="c-radio" name="radios2">
                                                                    <label for="radio4-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Yes
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-112" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> No
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">How many miles will this vehicle travel this year?</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="12">Less than 1,000</option>
                                                                    <option value="13">Less than 2,000</option>
                                                                    <option value="14">Less than 3,000</option>
                                                                    <option value="15">Less than 4,000</option>
                                                                    <option value="17">Less than 6,000</option>
                                                                    <option value="19">Less than 8,000</option>
                                                                    <option value="21">Less than 10,000</option>
                                                                    <option value="23">Less than 12,000</option>
                                                                    <option value="26">Less than 15,000</option>
                                                                    <option value="27">Less than 20,000</option>
                                                                    <option value="28">Less than 25,000</option>
                                                                    <option value="29">Less than 30,000</option>
                                                                    <option value="31">Less than 40,000</option>
                                                                    <option value="33">Less than 50,000</option>
                                                                    <option value="35">Less than 60,000</option>
                                                                    <option value="36">Less than 70,000</option>
                                                                    <option value="37">Less than 80,000</option>
                                                                    <option value="38">Less than 90,000</option>
                                                                    <option value="47">Less than 100,000</option>
                                                                    <option value="52">Less than 150,000</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Where is this vehicle normally kept overnight?</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="5">Car park</option>
                                                                    <option value="4">Driveway</option>
                                                                    <option value="1">Garaged at home</option>
                                                                    <option value="3">Kept on public road</option>
                                                                    <option value="O">Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Are you the owner and registered keeper of this vehicle?</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-112" class="c-radio" name="radios2">
                                                                    <label for="radio4-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Yes
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-112" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> No
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">How do you use this vehicle?</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="3">Social, domestic & pleasure only</option>
                                                                    <option value="2">All of the above, plus commuting</option>
                                                                    <option value="1">All of the above, plus personal business use</option>
                                                                    <option value="O">All of the above, plus employer's business use</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group c-margin-t-40">
                                                    <div class="col-sm-offset-4 col-md-8">
                                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                        <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-3" style="background: url(assets/base/media/video/porscheblur.jpg) no-repeat fixed; background-size:100% 100%;">
                                <div class="c-tab-pane">
                                    <div class="c-content-panel">
                                        <div class="c-body">
                                            <form class="form-horizontal">
                                                <div class="form-group form-c-radios">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Inline Radios</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-112" class="c-radio" name="radios2">
                                                                    <label for="radio4-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Mr
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-112" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Mrs
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio6-112" class="c-radio" name="radios2">
                                                                    <label for="radio6-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Miss
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio7-112" class="c-radio" name="radios2">
                                                                    <label for="radio7-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Ms
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio8-112" class="c-radio" name="radios2">
                                                                    <label for="radio8-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Dr
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputForename3-55" class="col-md-4 control-label c-font-bold c-theme-font">Forename</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputForename3-55" placeholder="Forename">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputSurname3-55" class="col-md-4 control-label c-font-bold c-theme-font">Surname</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputSurname3-55" placeholder="Surname">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputDob1-55" class="col-md-4 control-label c-font-bold c-theme-font">Date of birth</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob1-55" placeholder="DD">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob2-55" placeholder="MM">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputDob3-55" placeholder="YYYY">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Postcode field -->
                                                            <label for="opc_input" class="col-md-4 control-label c-font-bold c-theme-font">Lookup Address</label>
                                                            <div class="col-md-6">
                                                                <div id="postcode_lookup"></div>
                                                            </div>
                                                        </div>
                                                        <!-- Add to your existing form -->
                                                        <div id="languagelookup" class="hide">
                                                            <div class="form-group">
                                                                <label for="line1" class="col-md-4 control-label c-font-bold c-theme-font">First Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line1" placeholder="Address Line 1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="line2" class="col-md-4 control-label c-font-bold c-theme-font">Second Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line2" placeholder="Address Line 2">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="line3" class="col-md-4 control-label c-font-bold c-theme-font">Third Address Line</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="line3" placeholder="Address Line 3">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="town" class="col-md-4 control-label c-font-bold c-theme-font">Town</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="town" placeholder="Town">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="county" class="col-md-4 control-label c-font-bold c-theme-font">County</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="county" placeholder="County">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="postcode" class="col-md-4 control-label c-font-bold c-theme-font">Postcode</label>
                                                                <div class="col-md-6">
                                                                    <input type="Text" class="form-control  c-square c-border-2px c-theme" id="postcode" placeholder="Postcode">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Marital status</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="1">Please select...</option>
                                                                    <option value="2">Single</option>
                                                                    <option value="3">Married</option>
                                                                    <option value="4">Common Law</option>
                                                                    <option value="5">Divorced</option>
                                                                    <option value="5">Widowed</option>
                                                                    <option value="5">Civil Partner</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputEmail3-55" class="col-md-4 control-label c-font-bold c-theme-font">Email</label>
                                                            <div class="col-md-6">
                                                                <input type="email" class="form-control  c-square c-border-2px c-theme" id="inputEmail3-55" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputTelephone3-55" class="col-md-4 control-label c-font-bold c-theme-font">Telephone</label>
                                                            <div class="col-md-6">
                                                                <input type="Text" class="form-control  c-square c-border-2px c-theme" id="inputTelephone3-55" placeholder="Telephone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">How many cars at this address</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-12" class="c-radio" name="radios2">
                                                                    <label for="radio4-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 1
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-12" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 2
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio6-12" class="c-radio" name="radios2">
                                                                    <label for="radio6-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 3
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio7-12" class="c-radio" name="radios2">
                                                                    <label for="radio7-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 4
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio8-12" class="c-radio" name="radios2">
                                                                    <label for="radio8-12" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> 5+
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">Employment type</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="1">Please select...</option>
                                                                    <option value="2">Employed</option>
                                                                    <option value="3">Self-employed</option>
                                                                    <option value="4">Retired</option>
                                                                    <option value="5">Not Employed due to disability</option>
                                                                    <option value="6">Household duties</option>
                                                                    <option value="7">Full/Part time education</option>
                                                                    <option value="8">Voluntary Worker</option>
                                                                    <option value="9">Unemployed</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group c-margin-t-40">
                                                    <div class="col-sm-offset-4 col-md-8">
                                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                        <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-4" style="background: url(assets/base/media/video/porscheblur.jpg) no-repeat fixed; background-size:100% 100%; margin-top:20px;">
                                <div class="c-tab-pane">
                                    <div class="c-content-panel">
                                        <div class="c-body">
                                            <form class="form-horizontal">
                                                <div class="form-group form-c-radios">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">How do you normally pay for your insurance? *</label>
                                                            <div class="c-radio-inline">
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio4-112" class="c-radio" name="radios2">
                                                                    <label for="radio4-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Annually
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio5-112" class="c-radio" checked="" name="radios2">
                                                                    <label for="radio5-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Monthly
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio6-112" class="c-radio" name="radios2">
                                                                    <label for="radio6-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> No Previous
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <input type="radio" id="radio7-112" class="c-radio" name="radios2">
                                                                    <label for="radio7-112" class="c-font-bold c-theme-font">
                                                                        <span class="inc"></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> Quarterly
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label c-font-bold c-theme-font">When is your home insurance due for renewal (if applicable)?</label>
                                                            <div class="col-md-6">
                                                                <select class="form-control c-square c-theme">
                                                                    <option value="">Please select...</option>
                                                                    <option value="01">January</option>
                                                                    <option value="02">February</option>
                                                                    <option value="03">March</option>
                                                                    <option value="04">April</option>
                                                                    <option value="05">May</option>
                                                                    <option value="06">June</option>
                                                                    <option value="07">July</option>
                                                                    <option value="08">August</option>
                                                                    <option value="09">September</option>
                                                                    <option value="10">October</option>
                                                                    <option value="11">November</option>
                                                                    <option value="12">December</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label c-font-bold c-theme-font">Where did you hear about us?</label>
                                                        <div class="col-md-6">
                                                            <select class="form-control c-square c-theme">
                                                                <option value="CS01">Already a customer</option>
                                                                <option value="CS11">Don't know</option>
                                                                <option value="CS10">Email</option>
                                                                <option value="CS08">Friends or family</option>
                                                                <option value="CS04">Newspaper/magazine</option>
                                                                <option value="CS06">Phone directory</option>
                                                                <option value="CS07">Post</option>
                                                                <option value="CS09">Price comparison site</option>
                                                                <option value="CS03">Google/Bing/Yahoo</option>
                                                                <option value="CS05">TV</option>
                                                                <option value="CS02">Website advert</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="form-group c-margin-t-40">
                                                        <div class="col-sm-offset-4 col-md-8">
                                                            <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                                                            <button type="submit" class="btn btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-5" style="background: url(assets/base/media/video/porscheblur.jpg) no-repeat fixed; background-size:100% 100%; margin-top:20px;">
                                <div class="c-tab-pane">
                                    <div class="c-tab-pane">
                                        <div class="c-content-panel">
                                            <div class="c-body">
                                                <!-- BEGIN: PAGE CONTENT -->
                                                <!-- BEGIN: CONTENT/STATS/COUNTER-3 -->
                                                <div class="c-content-box c-size-md c-bg-parallax">
                                                    <div class="container">
                                                        <div class="c-content-counter-1">
                                                            <div class="c-content-title-1">
                                                                <h3 class="c-center c-font-uppercase c-theme-font c-font-bold">Your Quote</h3>
                                                                <div class="c-line-center c-bg-white"></div>
                                                            </div>
                                                            <div class="row c-margin-t-60">
                                                                <div class="col-md-4">
                                                                    <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">&#163;200</div>
                                                                    <h4 class="c-title c-first c-theme-font c-font-uppercase c-font-bold">Annual Premium</h4>
                                                                    <p class="c-content c-theme-font c-opacity-08">Save &#163;40 by paying annually</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">&#163;20</div>
                                                                    <h4 class="c-title c-theme-font c-font-uppercase c-font-bold">Monthly</h4>
                                                                    <p class="c-content c-theme-font c-opacity-08">Pay by direct debit monthly</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup">&#163;240</div>
                                                                    <h4 class="c-title c-theme-font c-font-uppercase c-font-bold">Monthly Total</h4>
                                                                    <p class="c-content c-theme-font c-opacity-08">Save money by paying annually</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END: CONTENT/STATS/COUNTER-3 -->
                                                <!-- END: PAGE CONTENT -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include plugin file -->
<script src="/assets/plugins/getaddress/jquery.getAddress-2.0.1.min.js"></script>

<!-- Add after your form -->
<script>
    var $jq = jQuery.noConflict();
    $jq('#postcode_lookup').getAddress({
        api_key: 'hzMvNTEeKE6RJ4gSqNyDzQ2138',
        output_fields: {
            line_1: '#line1',
            line_2: '#line2',
            line_3: '#line3',
            post_town: '#town',
            county: '#county',
            postcode: '#postcode'
        },
        button_class: 'btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold',
        input_class: 'form-control  c-square c-border-2px c-theme',
        dropdown_class: "form-control c-square c-theme",

        onLookupSuccess: function (data) {
            $jq('#languagelookup').removeClass('hide');
        },
        onLookupError: function () {/* Your custom code */ },
        onAddressSelected: function (elem, index) {/* Your custom code */ }
    });
</script>
<script src="/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        App.init(); // init core
    });
</script>