<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Habitat.Commerce" description="Habitat Commerce">
          <targetDataStore physicalRootPath="$(sourceFolder)\domain\commerce\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true"/>
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CommerceTemplates" database="master" path="/sitecore/templates/Habitat/Domain/Commerce"/>
            <include name="CommerceRenderings" database="master" path="/sitecore/layout/renderings/Habitat/Domain/Commerce"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
