@using Habitat.Media
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media.Infrastructure.Repositories
@using Sitecore.Resources.Media
@model  Habitat.Media.Model.Carousel
<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-1 -->
<section class="c-layout-revo-slider c-layout-revo-slider-1">
    <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
        <div class="tp-banner">
            <ul>
                @if (Model.Slides != null)
                {
                    foreach (var slide in Model.Slides)
                    {
                        @Html.Sitecore().Rendering("{25E8FC0C-3EDB-4E6F-82EA-785B03DCCF8F}", new { DataSource = slide.ID.ToString() })
                    }
                }
            </ul>
        </div>
    </div>
</section>