@using Habitat.Media
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media.Infrastructure.Repositories
@using Sitecore.Resources.Media
@model  Habitat.Media.Model.Carousel
<!-- BEGIN: PAGE CONTENT -->
<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
<section class="c-layout-revo-slider c-layout-revo-slider-4">
    <div class="tp-banner-container c-theme">
        <div class="tp-banner">
            <ul>
                @if (Model.Slides != null)
                {
                    foreach (var slide in Model.Slides)
                    {
                        @Html.Sitecore().Rendering("{53900FFE-5FCB-42CC-89AB-D682F0949E24}", new { DataSource = slide.ID.ToString() })
                    }
                }
            </ul>
        </div>
    </div>
</section>
<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->