@model Habitat.Search.Models.SearchSettings
<form action="@Model.SearchResultsUrl" class="c-quick-search" role="search">
    <input type="text" name="query" placeholder="@Model.SearchBoxTitle" value="" class="form-control" autocomplete="off">
    <span class="c-theme-link">&times;</span>
</form>