@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<li class="c-quick-sidebar-toggler-wrapper">
    <a href="#" class="c-quick-sidebar-toggler">
        <span class="c-line"></span>
        <span class="c-line"></span>
        <span class="c-line"></span>
    </a>
</li>