@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<!-- BEGIN: LAYOUT/HEADERS/TOPBAR -->
<!-- BEGIN: TOPBAR -->
<div class="c-topbar">
    <div class="container">
        <nav class="c-top-menu">
            <ul class="c-links c-theme-ul">
                <li>
                    <a href="#" class="c-font-uppercase c-font-bold">Help</a>
                </li>
                <li>
                    <a href="#" class="c-font-uppercase c-font-bold">Contact</a>
                </li>
                <li class="c-divider"></li>
                <li>
                    <a href="#" class="c-font-uppercase c-font-bold c-font-dark">Support</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Sign In</a>
                </li>
            </ul>
            <ul class="c-ext hide c-theme-ul">
                <li class="c-lang dropdown c-last">
                    <a href="#">en</a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li class="active">
                            <a href="#">English</a>
                        </li>
                        <li>
                            <a href="#">German</a>
                        </li>
                        <li>
                            <a href="#">Espaniol</a>
                        </li>
                        <li>
                            <a href="#">Portugise</a>
                        </li>
                    </ul>
                </li>
                <li class="c-search hide">
                    <!-- BEGIN: QUICK SEARCH -->
                    <form action="#">
                        <input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">
                        <i class="fa fa-search"></i>
                    </form>
                    <!-- END: QUICK SEARCH -->
                </li>
            </ul>
        </nav>
        <div class="c-brand">
            <a href="index.html" class="c-logo">
                <img src="assets/base/img/layout/logos/logo-3.png" alt="JANGO" class="c-desktop-logo">
                <img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo-inverse">
                <img src="assets/base/img/layout/logos/logo-3.png" alt="JANGO" class="c-mobile-logo">
            </a>
            <ul class="c-icons c-theme-ul">
                <li>
                    <a href="#">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-social-dribbble"></i>
                    </a>
                </li>
            </ul>
            <button class="c-topbar-toggler" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                <span class="c-line"></span>
                <span class="c-line"></span>
                <span class="c-line"></span>
            </button>
            <button class="c-search-toggler" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<!-- END: TOPBAR -->
<!-- END: LAYOUT/HEADERS/TOPBAR -->