@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Teasers
@using Sitecore.Mvc.Presentation
@model  Habitat.Teasers.Model.TeaserGroup
<!-- BEGIN: CONTENT/TILES/TILE-3 -->
<div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
    <div class="row wow animate fadeInUp">
        @if (Model.Teasers != null)
            {
                var counter = 0;
                var right = 0;
                foreach (var teaser in Model.Teasers)
                {
                    if (counter % 2 == 0)
                    {
                        right++;
                    }
                    @Html.Sitecore().Rendering("{DE03C1EE-5016-4A66-AE14-70E56AD470AD}", new { DataSource = teaser.ID.ToString(), Parameters = "right=" + right })
                counter++;
            }
        }
    </div>
</div>
<!-- END: CONTENT/TILES/TILE-3 -->