@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Commerce
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<li class="c-cart-toggler-wrapper">
    <a href="#" class="c-btn-icon c-cart-toggler">
        <i class="icon-handbag c-cart-icon"></i>
        <span class="c-cart-number c-theme-bg">2</span>
    </a>
</li>