@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Search
@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
<li class="c-search-toggler-wrapper">
    <a href="#" class="c-btn-icon c-search-toggler">
        <i class="fa fa-search"></i>
    </a>
</li>