@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-sbold">Inner Header v5</h3>
            <h4 class="">Page Sub Title Goes Here</h4>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            <li>
                <a href="javascript:;">Features</a>
            </li>
            <li>/</li>
            <li>
                <a href="javascript:;">Headers</a>
            </li>
            <li>/</li>
            <li>
                <a href="inner-header-5.html">Inner Header v5</a>
            </li>
            <li>/</li>
            <li class="c-state_active">Jango Components</li>
        </ul>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->