@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Navigation
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url(assets/base/img/content/backgrounds/bg-38.jpg)">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim">Inner Header v4</h3>
            <h4 class="c-font-white c-font-thin"> Page Sub Title Goes Here </h4>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            <li>
                <a href="javascript:;" class="c-font-white">Features</a>
            </li>
            <li class="c-font-white">/</li>
            <li>
                <a href="javascript:;" class="c-font-white">Headers</a>
            </li>
            <li class="c-font-white">/</li>
            <li>
                <a href="inner-header-4.html" class="c-font-white">Inner Header v4</a>
            </li>
            <li class="c-font-white">/</li>
            <li class="c-state_active c-font-white">Jango Components</li>
        </ul>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->