<div class="c-content-box c-size-xg">
    <div class="container">
        <!--<div id="filters-container" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                All
                <div class="cbp-filter-counter">12</div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item">
                Identity
                <div class="cbp-filter-counter">5</div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item">
                Web Design
                <div class="cbp-filter-counter">7</div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item">
                Graphic
                <div class="cbp-filter-counter">7</div>
            </div>
            <div data-filter=".logos" class="cbp-filter-item">
                Logo
                <div class="cbp-filter-counter">4</div>
            </div>
        </div>-->
        <div id="grid-container" class="cbp cbp-caption-active cbp-caption-overlayBottomReveal cbp-cols-4 cbp-ready" style="height: 1033px;">
            <div class="cbp-wrapper-outer">
                <div class="cbp-wrapper">
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </div>
            </div>
        </div>
        <!--<div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
            <a href="ajax/4col-portfolio/load-more.html" class="cbp-l-loadMore-link btn btn-sm c-btn-square c-btn-border-2x c-btn-dark  c-btn-uppercase">
                <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
            </a>
        </div>-->
    </div>
</div>