@using System.Web.Mvc.Html
@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.PageContent
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel
<!-- BEGIN: CONTENT/FEATURES/FEATURES-11 -->
<div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(-/media/Images/Utilities/Teaser/h2osecurity-background-h2o2.jpg)">
    <div class="container">
        <div class="c-content-feature-8 c-opt-1">
            <ul class="c-grid">
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
            </ul>
            <ul class="c-grid">
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
                <li>
                    @Html.Sitecore().DynamicPlaceholder("teaser")
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-11 -->